/* Ball */
.basket-ball {
  position: relative;
  overflow: hidden;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #e65c00;
  background: radial-gradient(ellipse at center, #e65c00 0%, #803300 100%);
  box-shadow: 10px 20px 25px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  animation-name: test;
  animation-duration: 4s;
  transform: rotate(45deg);
}
/* Arcs */
.basket-ball:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: solid 0.2rem #0d0d0d;
  border-radius: 50%;
  box-sizing: border-box;
  right: 70%;
}
.basket-ball:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: solid 0.2rem #0d0d0d;
  border-radius: 50%;
  box-sizing: border-box;
  left: 70%;
}
/* Lines */
.lineY {
  position: absolute;
  height: 100%;
  width: 0.2rem;
  background: #0d0d0d;
  left: 50%;
  transform: translate(-50%, 0);
}
.lineX {
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background: #0d0d0d;
  top: 50%;
  transform: translate(0, -50%);
}

@keyframes test {
  0% {
    transform: scale(0.1) translateY(500px) rotate(45deg);
    opacity: 0;
  }
  60% {
    transform: scale(1.2) translateY(0px) rotate(300deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(100px);
  }
}
