@import url(ball.css);

@font-face {
  font-family: Timer;
  src: url(/fonts/CursedTimerUlil-Aznm.ttf);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styling */
body {
  background: url(/images/hardwood-wallpaper-1-1.jpg) no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #c27351;
  text-align: center;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 20px;
}

/* Utility Classes */
.card {
  padding: 1rem 1.5rem;
  background: #33211c;
}

.score {
  padding: 0.5rem;
  margin: 0.5rem 0;
  background: #000;
}
.fouls {
  padding: 0.5rem;
  margin: 0.5rem 0;
  background: #000;
}

.points {
  display: flex;
  padding: 0.75rem 0;
  gap: 1rem;
}

.point-plus-one,
.point-plus-two,
.point-plus-three {
  padding: 0.5rem;
  border: 2px solid #000;
  cursor: pointer;
}

.fouls-plus {
  padding: 0.5rem 2rem;
  display: inline-block;
  border: 2px solid #000;
  cursor: pointer;
}

/* Score Board */
#score-board {
  height: 60vh;
  width: 80vw;
  background: rgba(79, 44, 33, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#middle {
  background: #000;
}

#start-btn {
  padding: 0.5rem;
  background: #4f2c21;
  cursor: pointer;
  margin-top: 0.75rem;
}
